<div class="container mt-5">
    <div class="row">
                   <div class="col-8 offset-2">
                <img src="<%=data['imgUrl']%>" class="img-fluid" alt="...">
                  <h3><%=data['title']%></h3>
                  <p><%=data['description']%></p>

        </div>
    </div>
    </div>

